<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.manzolo.pastiarzach"
    android:versionCode="1"
    android:versionName="1.3001">

<uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pasto"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light">
        <activity
            android:name="it.manzolo.pastiarzach.ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.manzolo.pastiarzach.ui.LoginActivity"
            android:label="@string/title_activity_login"/>
        <activity
            android:name="it.manzolo.pastiarzach.ui.DisplayRiepilogoActivity"
            android:label="@string/title_activity_display_riepilogo"/>
        <activity
            android:name="it.manzolo.pastiarzach.ui.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name="it.manzolo.receiver.BootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="it.manzolo.pastiarzach.service.ScheduleNotificationService"
            android:enabled="true"/>
        <service android:name="it.manzolo.pastiarzach.service.CheckNotificationService"/>

        <service android:name="it.manzolo.pastiarzach.service.NotificationService" />


        <!--<receiver android:name="it.manzolo.pastiarzach.service.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>-->


    </application>

</manifest>